{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  {% block theme %}
    {% include 'material/admin/includes/admin-out-themes.html' %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/layout.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/login.min.css' %}">
  {% if current_theme and current_theme != 'default' %}
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out-'|add:current_theme|add:'.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'material/admin/css/admin-out.min.css' %}">
  {% endif %}
  <script src="{% static 'material/admin/js/password-toggle.min.js' %}" defer></script>
{% endblock %}

{% block branding %}{% endblock %}
{% block inside_container %}{% endblock %}
{% block tray %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block side_nav %}{% endblock %}


{% block content %}
  <div id="layout-content">
    <div class="text-content">
      {% if form.errors and not form.non_field_errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %}
        {% trans "Please correct the error below." %}
        {% else %}
        {% trans "Please correct the errors below." %}
        {% endif %}
      </p>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="errornote">
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
      {% if user.is_authenticated %}
        <p class="errornote">
          {% blocktrans trimmed %}
          You are authenticated as {{ username }}, but are not authorized to
          access this page. Would you like to login to a different account?
          {% endblocktrans %}
        </p>
      {% endif %}
      <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}

        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field {% if form.username.errors %}has-error{% endif %} col s12">
                <i class="material-icons prefix">person</i>
                <input type="text" id="username-input" name="{{ form.username.name }}"
                       class="{% if form.username.errors %}invalid{% endif %}"
                       value="{{ form.username.value|default_if_none:'' }}" autofocus>
                <label for="username-input">{{ form.username.label }}</label>
                <div class="prefix-error">{{ form.username.errors }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field {% if form.password.errors %}has-error{% endif %} col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="password-input" name="{{ form.password.name }}"
                       class="{% if form.password.errors %}invalid{% endif %}"
                       value="{{ form.password.value|default_if_none:'' }}">
                <i id="visible-on" class="material-icons prefix password-visible">visibility</i>
                <i id="visible-off" class="material-icons prefix password-visible hide">visibility_off</i>
                <label for="password-input">{{ form.password.label }}</label>
                <div class="prefix-error">{{ form.password.errors }}</div>
              </div>
            </div>
          </div>
        </div>

        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <div class="submit-row-btn">
          <button class="btn waves-effect waves-light" type="submit" name="action">{% trans 'Log in' %}
            <i class="material-icons right">send</i>
          </button>

          <br>
          <br>

          <a href="{% url 'password_reset' %}">
            {% trans 'Forgot your password?' %}
          </a>

        </div>
      </form>
    </div>
    <div class="side-bar">
      {% include 'material/admin/includes/admin-out-bg.html' with current_theme=current_theme %}
    </div>
  </div>
{% endblock %}
